h1{
    color: red;
    font-size: 50px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    
}


#a{
    background-color:blueviolet;
    color: beige;
    height: 100px;
    width: 150px;
    border-radius: 20px;
    margin-right: 70px;
    font-size: larger;
    
}
#b{
    background-color:blueviolet;
    color: beige;
    height: 100px;
    width: 150px;
    border-radius: 20px;
    margin-right: 70px;
    font-size: larger;
}
#c{
    background-color:blueviolet;
    color: beige;
    height: 100px;
    width: 150px;
    border-radius: 20px;
    font-size: larger;
}
div{
    text-align: center;
}
#d{
    background-color: aqua;
    height: 50px ;
    width: 150px;
    margin-top: 50px;
    margin-left: 50px;
    border-radius: 20px;
    color: blue;
    
}